$background-color1: #26a96c;
$background-color2: #387d7a;
$active-color: #2bc016;
$height: 50px;
.sortBtns {
  display: flex;
  margin: 10px;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  .button-outline {
    display: flex;
    position: relative;
    button {
      padding: 0;
      margin: 0;
      height: $height;
      border: none;
    }
    &::after,
    &::before {
      content: "";
      display: inline-block;
      width: 0;
      height: 0;
    }
    &:first-of-type{
        button{
        padding-left: 20px;
    }
        &::before{
            display: none;
        }
    }&:last-of-type{
        button{
        padding-right: 20px;
    }
        &::after{
            display: none;
        }
    }
    &::after {
      position: absolute;
      right: -19.5px;
      border-top: $height solid $background-color1;
      border-right: 20px solid transparent;
    }
    &::before {
      border-bottom: $height solid $background-color1;
      border-left: 20px solid transparent;
    }
    &:nth-of-type(2n) {
      button {
        background-color: $background-color1;
      }
    }
    &:nth-of-type(2n-1) {
      button {
        background-color: $background-color1;
      }
      &::after {
        border-top: $height solid $background-color1;
        border-right: 20px solid transparent;
      }
      &::before {
        border-bottom: $height solid $background-color1;
        border-left: 20px solid transparent;
      }
    }


    // Active
    &.active {
      button {
        background-color: $background-color2;
      }
      &::after {
        border-top: $height solid $background-color2;
      }
      &::before {
        border-bottom: $height solid $background-color2;
      }
    }
  }
}
