$text-color: indigo;
.searchBar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  input {
    width: 50%;
    border: none;
    border-radius: 5px;
    padding: 10px;
    background-color: rgba(128, 128, 128, 0.24);
    color: $text-color;

    // remove outline frame
    outline-style: none;
    box-shadow: none;
    border-color: transparent;
    &::-webkit-input-placeholder {
      /* Edge */
      color: $text-color;
    }

    &:-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: $text-color;
    }

    &::placeholder {
      color: $text-color;
    }
  }
}