@import '../../style/colors';
.searchBar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  input {
    width: 50%;
    border: none;
    border-radius: 5px;
    padding: 10px;
    background-color: $search-background;
    color: $search-text-color;

    outline-style: none;
    box-shadow: none;
    border-color: transparent;
    &::-webkit-input-placeholder {
      color: $search-text-color;
    }

    &:-ms-input-placeholder {
      color: $search-text-color;
    }

    &::placeholder {
      color: $search-text-color;
    }
  }
}