@import '../../style/colors';
#header {
  background-color: $header-background;
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Roboto Slab", serif;
    h1 {
      font-family: "Roboto Slab", serif;
      font-size: 3rem;
      color: $header-text-color;
      text-align: center;
      padding: 10px;
    }
  }
}
