// body
$body-background-color: white;

// Header / Footer
$header-background: #32936f;
$header-text-color: whitesmoke;

// Social media
$social-media-text-color: whitesmoke;

// Table__Header__search
$search-background: rgba(128, 128, 128, 0.24);
$search-text-color: indigo;


// Table__Header__sorting--buttons
$sort-btns-color1: #64E8C5;
$sort-btns-color2: #7AFFB5;
$sort-btns-active-color: #64E87A;

//Table__rows
$row-background-color1:#99FF87;
$row-background-color2: #ACE86F;
$row-text-h3-color: black;
$row-text-p-color: black;


// Pagination 
$pagination-numbers-text-color: black;
$pagination-numbers-border-color: transparent;
$pagination-numbers-text-color-active: blue;
$pagination-numbers-border-color-active: black;

// Spinner
$background-filter-color: rgba(100, 100, 100, 0.527);
$spinner-text-color: $header-text-color;
