@import '../../style/colors';

#footer {
  height: 5rem;
  background-color: $header-background;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  .footer__contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2 {
      font-size: 1.5rem;
      color: $social-media-text-color;
    }
    .footer_contact_links {
        a{
          color: $social-media-text-color;
            padding: 5px 10px;
        }
    }
  }
}
