@import '../../style/colors';
.table_row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    .table_row_element{
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 200px;
        h3,p{
            text-align: center;
            padding: 5px;
        }
        h3{
            color: $row-text-h3-color;
        }
        p{
            color: $row-text-p-color;
            height: 50px;
        }
    }
    &:nth-child(2n){
        background-color: $row-background-color1;
    }
    &:nth-child(2n-1){
        background-color: $row-background-color2;
    }
}